<nav class="navbar navbar-slim navbar-fixed-top"
     ng-controller="NavbarCtrl">
    <div class="container-fluid">
        
        <div class="nav navbar-nav">
            <a ui-sref="'home'">
                <img class="logo" src="assets/images/hammers-white.svg"/>
            </a>
        </div>
    </div>
</nav>

<nav class="navbar navbar navbar-fixed-top"
     ng-controller="NavbarCtrl"
     ng-class="{ hiddenNavbar: hideNavbar}">
    
    <div class="nav-background"></div>
    
    <div class="container-fluid">
        
        <div class="nav navbar-nav">
            <a ui-sref="home">
                <img class="logo" src="assets/images/hammers-white.svg"/>
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/about')}" 
                >
                <a ui-sref="account"
                   class="nav-element">
                   About
                </a>
            </li>
            <li ng-class="{ active: isActive('/account')}" 
                
                ng-show="hasRole('exec')">
                <a ui-sref="account" class="nav-element">Profile</a>
            </li>
            <li ng-class="{ active: isActive('/dashboard')}" 
                
                ng-show="hasRole('hacker')">
                <a ui-sref="dashboard" class="nav-element">Dashboard</a>
            </li>
            <li ng-class="{ active: isActive('/application')}"
                ng-show="hasRole('hacker')">
                <a ui-sref="application" class="nav-element">Application</a>
            </li>
            <li ng-class="{ active: isActive('/exec')}"
                ng-show="hasRole('exec')"
                class="dropdown"
                dropdown>
                <a href=""
                   class="nav-element dropdown-toggle"
                   dropdown-toggle>Exec</a>
                <ul class="dropdown-menu"
                    dropdown-menu>
                    <li><a ui-sref="exec">Dashboard</a></li>
                    <li><a ui-sref="exec-users">Users</a></li>
                    <li><a ui-sref="exec-hackers">Hackers</a></li>
                    <li><a ui-sref="exec-teams">Teams</a></li>
                    <li><a ui-sref="exec-pods">Pods</a></li>
                    <li><a ui-sref="exec-events">Events</a></li>
                    <li><a ui-sref="exec-messaging">Messaging</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li ng-show="loggedIn">
                <button ng-click="logout()" class="button button-plain button-dark-red-hover">Sign Out</button>
            </li>
            
            <li ng-hide="loggedIn">
                <div ng-include="'app/components/expanding-input/expanding-input.html'"></div>
            </li>
            <li ng-hide="loggedIn">
                <button ui-sref="signin" class="button button-plain button-dark-red-hover">Sign In</button>
            </li>
        </ul>

    </div>
</nav>
