<div class="row sponsors"
     ng-controller="SponsorsCtrl">

  <div class="col-sm-8 col-sm-offset-2">
    <h1>Partners</h1>

    <div class="logo-row">
      <div class="medium"><img src="/assets/images/rockwell-collins.svg" alt=""></div>
      <div class="medium"><img src="/assets/images/bloomberg.png" alt=""></div>
    </div>

    <div class="logo-row">
      <div class="medium"><img src="/assets/images/capital-one.png" alt=""></div>
      <div class="medium"><img src="/assets/images/salesforce.png" alt=""></div>
    </div>

    <div class="logo-row">
      <div class="small"><img src="/assets/images/make-school.png" alt=""></div>
      <div class="small"><img src="/assets/images/liberty-mutual.png" alt=""></div>
      <div class="small"><img src="/assets/images/sep.png" alt=""></div>
    </div>

    <div class="logo-row">
      <div class="small"><img src="/assets/images/qualcomm.png" alt=""></div>
      <div class="small"><img src="/assets/images/mongodb.png" alt=""></div>
      <div class="small extra"><img src="/assets/images/mixmax.png" alt=""></div>
    </div>

    <div class="logo-row">
      <div class="small"><img src="/assets/images/namecheap.png" alt=""></div>
    </div>

  </div>

</div>