<div ng-include="'app/components/navbar/navbar.html'"></div>
<script src="/assets/javascripts/particle.js"></script>
<div class="background" id="background">
   <canvas id="sky-background-fixed"></canvas>
   <canvas id="starry-night-app"></canvas>
   <div class="overlay-fixed full-height"></div>
</div>
<div class="container application-view-container">
   <div class="row">
      <div class="col-md-4 col-md-offset-4">
         <h1 class="signin">Forgot your Password?</h1>
         <div class="panel panel-default application-panel">
            <div class="panel-body">
               <div class="panel-body" style="padding-left:25px;padding-right:25px;padding-bottom:0px;padding-top:12px">
                  <p class="success" ng-show="state.showingSuccessMessage">We've sent you a password reset email.</p>
                  <form class="form-horizontal">
                     <div class="form-group">
                        <input type="text"
                           class="form-control"
                           ng-model="state.email"
                           placeholder="Email">
                     </div>
                     <div class="form-group">
                        <div class="col-sm-12" style="padding-left:0px;padding-right:0px;margin-bottom:-2px">
                           <button type="submit" class="btn btn-primary btn-block" ng-click="sendReset()" ng-disabled="!sendEnabled()">Send Reset Email</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div ng-include="'app/components/footer/footer.html'"></div>
</div>
<div ng-include="'app/components/starrybg.html'"></div>
