<div class="column-container">
  <div class="column col-1">
    <div class="v-center a-right">
      <img class="non-selectable" id="spaceblob" src="assets/images/spaceblob.svg" alt="">
    </div>
  </div>
  <div class="column col-2">
    <div class="v-center">
      <h1>
        BoilerMake
      </h1>
      <p class="subtitle">
        A <span class="strikethrough">fall</span> <span class="highlight">spring</span> hackathon
      </p>
      <p class="info">
        Come back here on <span class="highlight">November 12</span> for more information or sign up below to be one of the first to know!
      </p>

      <div class="input-button">
        <input onClick="this.focus();this.select();" type="email"  ng-model="email" id="emailSignup" placeholder="pete@purdue.edu">
        <button ng-click="subscribe()"><i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i></button>
      </div>

      <div class="contact-links">
      <a href="mailto:team@boilermake.org">team@boilermake.org</a>
      <a href="mailto:sponsorship@boilermake.org">sponsorship@boilermake.org</a>
    </div>
    </div>
  </div>
</div>

<div class="logomark">
  <img class="non-selectable" src="assets/images/hammers-purple.svg" alt="">
</div>
