
<div ng-include="'app/components/navbar/navbar.html'"></div>
<script src="/assets/javascripts/particle.js"></script>
<div class="background">
   <canvas id="sky-background-fixed"></canvas>
   <canvas id="starry-night-app"></canvas>
   <div class="overlay-fixed full-height"></div>
</div>

<div class="container application-view-container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
      <h1 class="signin">Reset Password</h1>

			<div class="panel panel-default application-panel">
				<div class="panel-body">


					<form class="form-horizontal">
					  <div class="form-group">
				      <input type="password"
                    class="form-control"
                 ng-model="state.newPassword"
              placeholder="New Password">
					  </div>
            <div class="form-group">
              <input type="password"
                    class="form-control"
                 ng-model="state.newPasswordRepeat"
              placeholder="Repeat New Password">
            </div>
					  <div class="form-group">
					    <div class="col-sm-12" style="padding-left:0px;padding-right:0px;margin-bottom:-2px">
					      <button type="submit" class="btn btn-primary btn-block" ng-click="setNewPassword()" ng-disabled="!setNewPasswordEnabled()">
                  Reset Password
                </button>
					    </div>
					  </div>
				</form>
				</div>
			</div>
		</div>
	</div>
  <div ng-include="'app/components/footer/footer.html'"></div>
</div>
<div ng-include="'app/components/starrybg.html'"></div>
