<!-- signin.html -->
<div ng-include="'app/components/navbar/navbar.html'"></div>
<script src="/assets/javascripts/particle.js"></script>

<div class="background">
	<canvas id="sky-background-fixed"></canvas>
	<canvas id="starry-night-app"></canvas>
	<div class="overlay-fixed full-height"></div>
</div>

<div class="container application-view-container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1 class="signin">Sign In</h1>
			<div class="panel panel-default application-panel">
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group signin-group">
							<input type="text"
							class="form-control"
							ng-model="email"
							placeholder="Email">

							<input type="password"
							class="form-control"
							ng-model="password"
							placeholder="Password">

							<button type="submit" class="btn btn-primary btn-block signin" ng-click="signin()">Sign In</button>
							
							<p><a ui-sref="forgot-password">Forgot Password?</a></p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div ng-include="'app/components/footer/footer.html'"></div>
</div>
<div ng-include="'app/components/starrybg.html'"></div>