
<div ng-include="'app/components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row" style="margin-top:40px;">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">

				<div class="panel-body" style="padding-left:25px;padding-right:25px;padding-bottom:0px;padding-top:12px">
					<form class="form-horizontal">
					  <div class="form-group">
				      <input type="text"
                            class="form-control"
                         ng-model="email"
                      placeholder="Email">
					  </div>
					  <div class="form-group">
							<input type="password"
                                  class="form-control"
                               ng-model="password"
                            placeholder="Password">
					  </div>

					  <div class="form-group">
					    <div class="col-sm-12" style="padding-left:0px;padding-right:0px;margin-bottom:-2px">
					      <button type="submit" class="btn btn-primary btn-block" ng-click="signin()">Log In</button>
                <p class="text-center" style="padding-top:20px"><a ui-sref="forgot-password">Forgot Password?</a></p>
					    </div>
					  </div>
				</form>
				</div>
			</div>
		</div>
	</div>

</div>
