@import url('https://fonts.googleapis.com/css?family=Exo+2:400,400i,500,600,700|Open+Sans:300,400,400i,600');

//@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
//@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js');

//font-family: 'Exo 2', sans-serif;
//font-family: 'Open Sans', sans-serif;

/*
 * Color definitions
 */
$white: #F9F9F9;
$grey: #EEEEEE;
$purple: #594269;
$dark-purple: #2C232B;
$black: #171519;
$red: #FA3E2F;
$dark-red: #FA3E2F;
$dark-grey: #333;


/*
*  Landing page
*/

html, body {
  width: 100vw;
  margin: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-custom {
  background-color: $dark-purple;
  margin: 0;
  padding: 0 20px;
  a {
    color: $white;
    background: transparent !important;
    border-bottom: 3px transparent solid;
    &.nav-element {
      &:hover, &:active {
      color: $red !important;
      border-bottom: 3px $red solid;
    }
    }
    
  }
  .logo {
    max-width: 50px;
    margin: 5px 50px 0 0;
  }
}

.intro {
  //padding-top: 100px;
  .intro-box {
    margin-top: 350px;
    background-color: $purple;
    min-height: 150px;
    padding: 10px;
    border-radius: 3px;
  }
}

.container {
  background-color: $black;
  height: 100vh;
  width: 100vw;
  background: $purple; 
  background: -webkit-linear-gradient(top, $dark-purple 0%, $purple 51%); 
  background: -moz-linear-gradient(top, $dark-purple 0%, $purple 51%); 
  background: linear-gradient(to bottom, $dark-purple 0%, $purple 51%); 
  color: $white;
}

/**
* USER
*/
.application-view-container {
  color: black;
  font-weight: 300;
}
/**
 * EXEC
 */
.exec-application-note-footer {
  font-style: italic;
}

/* Do not remove this comments below.
 * It's the markers used by gulp-inject to inject all your sass
 * files automatically
 */
// injector
// endinjector
