@import url('https://fonts.googleapis.com/css?family=Exo+2:400,400i,500,600,700|Open+Sans:300,400,400i,600');


//font-family: 'Exo 2', sans-serif;
//font-family: 'Open Sans', sans-serif;

/*
 * Color definitions
 */
$white: #F9F9F9;
$grey: #EEEEEE;
$pink: #D6A4A4;
$gold: #B1810B;
$dark-grey: #555555;

/*
 * Font definitions
 */
$family-serif: 'Exo 2', serif;
$family-sans-serif: 'Open Sans', sans-serif;

@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css');

/*
*  Landing page
*/

html, body {
  width: 100vw;
  font-family: $family-sans-serif;
  margin: 0;
  font-size: 16px;
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
  top: 0;
}

h1 {
  font-family: $family-serif;
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem 0;
}

.intro {
  .about {
    width: 60%;
    float: right;
  }
}

/**
* USER
*/
.application-view-container {
  color: black;
  font-weight: 300;
}
/**
 * EXEC
 */
.exec-application-note-footer {
  font-style: italic;
}

/* Do not remove this comments below.
 * It's the markers used by gulp-inject to inject all your sass
 * files automatically
 */
// injector
// endinjector
