<div ng-include="'app/components/navbar/navbar.html'"></div>
<div class="background">
  <canvas id="sky-background-fixed"></canvas>
  <canvas id="starry-night-app"></canvas>
  <div class="overlay-fixed full-height"></div>
</div>

<div class="container-fluid application-view-container" style="color: black;">
    <h1>Exec Dashboard - Application Detail - #{{app_id}}</h1>
    <button type="button" class="btn btn-primary" ng-click="skipApplication()">Skip</button>
    <hr>
    <div class="row">
        <div class="col-md-3">
          <!--panel 1-->
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Basic Info</h3>
              </div>
              <div class="panel-body">
                <p>name: {{application.user.first_name}} {{application.user.last_name}}</p>
                <p>school: {{application.school.name}}</p>
              </div>
          </div>
          <!--panel 2-->
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Github Info</h3>
              </div>
              <div class="panel-body">
                <p ng-if="application.github_summary.success">
                <ul>
                  <li ng-repeat="s in application.github_summary.summary">
                    <a href="{{s.url}}" target="_blank">{{s.full_name}}</a> | <span style="text-transform: uppercase">{{s.language}}</span> <ul><li>{{s.description}}</li></ul>
                  </li>
              </ul>
                </p>
                <p ng-if="!application.github_summary.success">ERROR:{{application.github_summary.message}}</p>
              </div>
          </div>
          <pre>{{application | json}}</pre>
        </div>
        <div class="col-md-3">
          <!--panel-->
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Rating</h3>
              </div>
              <div class="panel-body">
                <p ng-if="application.myrating.rating">My rating: {{application.myrating.rating}}</p>
                <button type="button" class="btn btn-primary" ng-click="rankApplication(1)">1</button>
                <button type="button" class="btn btn-primary" ng-click="rankApplication(2)">2</button>
                <button type="button" class="btn btn-primary" ng-click="rankApplication(3)">3</button>

              </div>
          </div>
          <!--panel-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Notes</h3>
            </div>
            <div class="panel-body">
              <div ng-repeat="note in application.notes">
                {{note.message}}
                <div class="exec-application-note-footer">by {{note.user.first_name}} on {{note.created_at | prettyDate}}</div>
                <hr>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" ng-model="noteMessage" placeholder="Add Note...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" data-ng-click="addNote()">Add</button>
                </span>
              </div>
            </div>
          </div>
          <!--panel-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Team</h3>
            </div>
            <div class="panel-body">
              <p>Team members:</p>
              <li ng-repeat="h in application.team.hackers">{{h.first_name}} {{h.last_name}} {{h.email}} (user # {{h.id}})</li>
            </div>
          </div>
        </div>
        <!--resume-->
        <div class="col-md-6" >
            <object ng-if="application.resume_uploaded==1" ng-attr-data="{{application.resumeURL}}" width="100%" height="800px">
        </div>
    </div>
</div>
