<div ng-include="'app/components/navbar/navbar.html'"></div>
<div class="container">
<h1>Exec Dashboard - Teams</h1>
<h2>Hackers</h2>
<table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th># of reviews</th>
      <th>code</th>
    </tr>
    <tr ng-repeat="each in teams">
      <td>
        <li ng-repeat="u in each.hackers_detail">
          {{u.first_name}} {{u.last_name}} - {{u.application.school.name}} - {{u.application.decision | decision}}
        </li>
      </td>
      <td><pre>{{each.overall_ratings | json}}</pre></td>
      <td>{{each.code}}</td>
    </tr>
  </table>
</div>
