<style>
body {
  color:#000;
}
</style>
<div class="container application-view-container" >
  <h1>Exec Dashboard</h1>

  <div class="row">
    <div class="col-md-6">
      Currently: {{allstats.total.yes}} completed applications, {{allstats.total.no}} incomplete, from {{allstats.num_schools}} schools.
      <h2>Applications by school</h2>
      <table class="table table-bordered">
        <tr>
          <th>school</th>
          <th>complete</th>
          <th>incomplete</th>
        </tr>
        <tr ng-repeat="each in allstats.by_school">
          <td>{{each.school}}</td>
          <td>{{each.counts.complete}}</td>
          <td>{{each.counts.incomplete}}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h2>Applications by gender</h2>
      <table class="table table-bordered">
        <tr>
          <th>gender</th>
          <th>count</th>
        </tr>
        <tr ng-repeat="(k, each) in allstats.gender">
          <td>{{k}}</td>
          <td>{{each}}</td>
        </tr>
      </table>

      <h2>Applications by race</h2>
      <table class="table table-bordered">
        <tr>
          <th>race</th>
          <th>count</th>
        </tr>
        <tr ng-repeat="(k, each) in allstats.race">
          <td>{{k}}</td>
          <td>{{each}}</td>
        </tr>
      </table>

      <h2>Applications by major</h2>
      <table class="table table-bordered">
        <tr>
          <th>major</th>
          <th>count</th>
        </tr>
        <tr ng-repeat="(k, each) in allstats.major">
          <td>{{k}}</td>
          <td>{{each}}</td>
        </tr>
      </table>
      <h2>Applications by grad year</h2>
      <table class="table table-bordered">
        <tr>
          <th>year</th>
          <th>count</th>
        </tr>
        <tr ng-repeat="(k, each) in allstats.grad_year">
          <td>{{k}}</td>
          <td>{{each}}</td>
        </tr>
      </table>

      <h2>Applications by first hackathon?</h2>
      <table class="table table-bordered">
        <tr>
          <th>answer</th>
          <th>count</th>
        </tr>
        <tr ng-repeat="(k, each) in allstats.first_hackathon">
          <td>{{k}}</td>
          <td>{{each}}</td>
        </tr>
      </table>

      <h2>Applications by needs travel?</h2>
      <table class="table table-bordered">
        <tr>
          <th>answer</th>
          <th>count</th>
        </tr>
        <tr ng-repeat="(k, each) in allstats.travel">
          <td>{{k}}</td>
          <td>{{each}}</td>
        </tr>
      </table>
    </div>

  <hr>
  <!--<button type="button" class="btn btn-primary" ng-click="rateApplications()">Start Rating</button>-->
</div>