<!-- applicaiton.html -->
<div ng-include="'app/components/navbar/navbar.html'"></div>
<script src="/assets/javascripts/particle.js"></script>
<div class="background">
  <div class="red-background"></div>
  <canvas id="sky-background"></canvas>
  <canvas id="starry-night"></canvas>
  <div class="overlay full-height"></div>
</div>
<div class="container application-view-container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="application-title">My Application</h1>
      <div class="panel panel-default application-panel">
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-4 control-label">Name</label>
              <div class="col-sm-8">
                <input type="text" ng-model="me.first_name" class="form-control"> <input type="text" ng-model="me.last_name" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">School</label>
              <div class="col-sm-8">
                 <input type="text" ng-model="me.application.school" typeahead="school as school.name for school in schoolSearch($viewValue)" class="form-control">
              </div>
            </div>
            <div id="phase2" ng-show="phase >= 2">
            <div class="form-group">
              <label class="col-sm-4 control-label">Do you need travel reimbursement?</label>
              <div class="col-sm-8">
                <label class="btn" ng-class="me.application.isTravellingFromSchool==1 ? 'btn-primary' : 'btn-default'">
                    <input type="radio" name="options" value="option1" ng-click="changeTravellingFrom(1)"> Yes
                  </label>
                  <label class="btn" ng-class="me.application.isTravellingFromSchool==0 ? 'btn-primary' : 'btn-default'">
                    <input type="radio" name="options" value="option2" ng-click="changeTravellingFrom(0)"> No
                  </label>
              </div>
            </div>
             <div class="form-group">
              <label class="col-sm-4 control-label">Gender</label>
              <div class="col-sm-8">
                <select ng-model="me.application.gender" class="form-control">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other / Prefer not to disclose</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Résumé</label>
              <div class="col-sm-2">
                <div class="btn btn-primary" name="resumeupload" ngf-select="upload($file)" ngf-pattern="'application/pdf'">Upload </div>
              </div>
              <div class="col-sm-6">
               <progressbar ng-if="isUploading" value="dynamic"><span style="color:black; white-space:nowrap;">{{dynamic}}%</span></progressbar>
               <br>
               <p ng-if="me.application.resume_uploaded">succesfully uploaded: <b>{{me.application.resume_filename}}</b></p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">github username</label>
              <div class="col-sm-8">
                <input type="text" ng-model="me.application.github" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Age</label>
              <div class="col-sm-8">
                <input type="text" ng-model="me.application.age" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Graduation Year</label>
              <div class="col-sm-8">
                <select ng-model="me.application.grad_year" class="form-control">
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
           
            <div class="form-group">
              <label class="col-sm-4 control-label">Major</label>
              <div class="col-sm-8">
                <input type="text" ng-model="me.application.major" class="form-control">
              </div>
            </div>
          </div><!--end phase 2 div-->
          <div id="phase3" ng-show="phase >= 3">
            <hr>
            [we should ask the following after we accept hackers]
            <div class="form-group">
              <label class="col-sm-4 control-label">Diet</label>
              <div class="col-sm-8">
                <select ng-model="me.application.diet" class="form-control">
                  <option value="omnivore">Omnivore</option>
                  <option value="vegetarian">Vegetarian</option>
                  <option value="vegan">Vegan</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Other Restrictions</label>
              <div class="col-sm-8">
                <input type="text" ng-model="me.application.diet_restrictions" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">T-Shirt Size</label>
              <div class="col-sm-8">
                <select ng-model="me.application.tshirt" class="form-control">
                  <option value="XS">XS</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
                </select>
              </div>
            </div>
          </div><!--end phase 3 div-->
            <hr>

            <div class="alert alert-danger" ng-hide="validation.valid || !pageLoaded" role="alert">
              <p>Your application is not complete! :(</p>
              <li ng-repeat="reason in validation.reasons">{{reason}}</li>
            </div>
            <p ng-show="validation.valid">Your application is complete! yay!</p>

            <p>Changes are automatically saved; last saved <span am-time-ago="lastSaved"></span>.</p>
            <p ng-if="isSaved">No unsaved changes.</p>
            <br>
          </form>
        </div>
      </div>

<!-- 
      <div class="panel panel-default application-panel" ng-show="(phase >= 2) && (teamsEnabled)">
        <div class="panel-heading">
          <h3 class="panel-title">My Team</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal">
             <b>Your team code is: {{me.application.team.code}}</b>

            <div class="form-group">
              <div class="col-md-6">
                 <p>Team members:</p>
                  <li ng-repeat="h in me.application.team.hackers">{{h.email}}</li>
              </div>
                <div class="col-md-6">
                  <input type="text" ng-model="me.application.team_code" class="form-control" placeholder="enter a code">
                  <br>
                  <button ng-click="leaveTeam()" class="btn btn-primary pull-right">Leave Current Team</button>
                <button ng-click="updateApplication(true)" class="btn btn-primary pull-right">Join Team</button>
                </div>
            </div>
            <hr>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">

              </div>
            </div>
          </form>
        </div>
      </div> -->
    </div>
  </div>


</div>

<script>
  var s;

  var isMobile = true;
  if (window.innerWidth > 767) isMobile = false;

  var startFullscreenParticles = function() {
    Particles.init('starry-night', {
      width: window.innerWidth,
      height: window.innerHeight
    });
    startParticles();
  };

  var startMobileParticles = function() {
    Particles.init('starry-night', {
      width: window.innerWidth,
      height: window.innerHeight
    });
    startParticles();
  };

  var startParticles = function() {
    Particles.behavior({
      path: function(x) {
        return (-0.5 * x) + 300;
      },
      speed: function() {
        return 0.2;
      },
      offset: function() {
        return (Math.random() * 6) - 3;
      },
      backgroundColor: '#594269',
      color: function() {
        var rn = Math.random();
        if (rn < 0.2) {
          return 'rgba(255, 255, 255, 1.0)';
        } else if (rn < 0.4) {
          return 'rgba(255, 255, 255, 0.6)';
        } else if (rn < 0.6) {
          return 'rgba(255, 255, 255, 0.4)';
        } else if (rn < 0.8) {
          return 'rgba(255, 255, 255, 0.2)';
        } else {
          return 'rgba(255, 255, 255, 0.1)';
        }
      },
      size: 2,
      count: 1000,
      placement: 'random'
    });
    Particles.start();
  };



  // Load background gradient
  var grdCanvas = document.getElementById("sky-background");
  var grdCtx = grdCanvas.getContext("2d");
  // grdCanvas.width = window.innerWidth;
  // grdCanvas.height = window.innerHeight;
  var grd = grdCtx.createLinearGradient(grdCanvas.width*(3/4),0,grdCanvas.width,grdCanvas.height);
  grd.addColorStop(0,"#594269");
  grd.addColorStop(0.9,"#EE4434");
  // grd.addColorStop(0.9,"#F6CF56")
  grdCtx.fillStyle = grd;
  grdCtx.fillRect(0, 0, grdCanvas.width, grdCanvas.height);

  $(window).load(function() {
    if (isMobile) {
      startMobileParticles();
    } else {
      startFullscreenParticles();
    }
  });

  $(window).resize(function() {
    var isMobileTemp = true;
    if (window.innerWidth > 767) isMobileTemp = false;

    // var changed = isMobile != isMobileTemp;
    isMobile = isMobileTemp;

    Particles.stop();

    if (isMobile) {
      startMobileParticles();
    } else {
      startFullscreenParticles();
    }
  });
</script>
