<!-- applicaiton.html -->
<div ng-include="'app/components/navbar/navbar.html'"></div>
<script src="/assets/javascripts/particle.js"></script>
<style>
hr {
	border-top: 1px solid #c7c7c7
}
.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
	color: #fff !important;
}
</style>
<div class="background" id="background">
  <canvas id="sky-background-fixed"></canvas>
  <canvas id="starry-night-app"></canvas>
  <div class="overlay-fixed full-height"></div>
</div>

<div class="container application-view-container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <!-- Header -->
      <h2 class="emoji" ng-show="validation.valid">✅</h2><h2 class="emoji" ng-hide="validation.valid || !pageLoaded">❌</h2>
      <h1 class="application-title">Your application is <span ng-hide="validation.valid || !pageLoaded">not</span> complete</h1>
      <h3 class="application-subtitle"><span ng-if="isSaved">There are no unsaved changes.</span><span ng-hide="isSaved">Changes will be saved automatically.</span> Last saved <span class="bold" am-time-ago="lastSaved"></span>.</h3>
      <h3 ng-show="validation.valid" class="application-subtitle">Completed applications are automatically submitted. You can still update your application at any time.</h3>
      <h3 ng-show="me.application.school.facebook_event_id" class="application-subtitle"><span>Hey there, we see you're from {{me.application.school.name}} - we have a Facebook event for you, and you have almost enough signups to get a free bus to BoilerMake! <a href="http://facebook.com/events/{{me.application.school.facebook_event_id}}" target="_blank"> RSVP here so all your friends know about BoilerMake!</a> </span><br>🚌&nbsp;🚌&nbsp;🚌</h3>

      <div id="status" class="panel panel-default application-panel" ng-show="me.application.decision != 3">
      	<h1 class="application-title">BoilerMake Application Status</h1>
        <hr/>
        <div ng-show="me.application.decision == null">Your application is still pending review. You will receive an email when a decision has been reached!</div>
        <div ng-show="me.application.decision == 1">Unfortunately, your application as been denied. We encourage you to apply to future events.</div>
        <div ng-show="me.application.decision == 2">Your application has been waitlisted! As spots to BoilerMake open up, we will move people from waitlisted to accepted. This happens <i>very</i> frequently, so be patient!</div>
        <div ng-show="me.application.decision == 4">Your RSVP offer has expired! If you believe this is a mistake, or if you are now able to attend BoilerMake, please reach out to us at team@boilermake.org</div>
      </div>

        <div id="rsvp" class="panel panel-default application-panel" ng-show="me.application.decision == 3">
        <div class="panel-body">
          <h1 class="application-title">RSVP to BoilerMake</h1>
          <hr/>
          <div class="text-center">
          	<button class="btn btn-primary btn-lg" ng-disabled="me.application.rsvp==1" ng-click="rsvp(true)"><span ng-show="me.application.rsvp==1">✔️</span>I'll be there!</button>
          	<!-- FISI hack -->
          	&nbsp;<div class="hidden-lg hidden-md"><br/></div>
          	<button class="btn btn-default btn-lg" ng-disabled="me.application.rsvp==0" ng-click="rsvp(false)"><span ng-show="me.application.rsvp==0">✔️</span>I can't make it</button>
          </div>
          <hr/>
          <div ng-show="me.application.rsvp==0">
            We're sorry to hear that! We hope to see you at future events.
          </div>
          <div class="rsvp-area" ng-show="me.application.rsvp">
            We'll need a few more details from you before we can confirm your RSVP. If you want to provide us with an updated Resume for our sponsors, feel free to do so below.
            <form class="form-horizontal" style="margin-top: 10px;">
              <!-- RSVP start -->
              <!-- Name -->
              <div class="form-group" style="margin-bottom:0px;">
                <label for="github" class="col-sm-4 control-label">LinkedIn Profile</label>
                <div class="col-sm-8">
                  <div ng-hide="me.application.has_no_linkedin == '1'" >
                    <input id="linkedin" type="text" ng-model="me.application.linkedin" class="form-control" placeholder="LinkedIn URL">
                  </div>
                  <p ng-hide="me.application.has_no_linkedin == '1'">
                    <a ng-Click="hasNoLinkedIn()" style="color: black">I don't have one</a>
                  </p>
                  <div ng-show="me.application.has_no_linkedin == '1'" style="padding-top: 7px;">
                    <p>You indicated you don't have a LinkedIn. <a ng-Click="hasLinkedIn()" style="color: black">I actually do have a LinkedIn!</a></p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="firstName" class="col-sm-4 control-label">Dietary restrictions</label>
                <div class="col-sm-8">
                  <input id="diet_restrictions" type="text" ng-model="me.application.diet_restrictions" class="form-control" placeholder="Any Allergies?">
                </div>
              </div>
              <div class="form-group">
                <label for="firstName" class="col-sm-4 control-label">Phone #</label>
                <div class="col-sm-8">
                  <input id="phone" type="text" ng-model="me.phone" class="form-control" placeholder="We'll send important updates during BoilerMake">
                </div>
              </div>


              <p>
              	This year, we will have lanyards and 'access cards' for every hacker, and you can pick skills below that will be displayed on them. This will let other hackers start a conversation, if they are seeking help with something that you're skilled in. Let us know if something should be added to the list!
              	<br/><br/>
              	Pick up to 3 skills to display:<br/>
              </p>
              <ui-select multiple ng-model="$root.skills" theme="bootstrap" close-on-select="false" style="width: 500px;" title="Type to see skills to pick" limit=3>
                <ui-select-match placeholder="Select skills...">{{$item}}</ui-select-match>
                <ui-select-choices repeat="skill in availableSkills | filter:$select.search">
                  {{skill}}
                </ui-select-choices>
              </ui-select>
            </form>
            <hr/>
            <p ng-show="me.application.school.transit_method=='bus'">
              Good news! {{me.application.school.name}} has a bus coming! 🚌&nbsp;🚌&nbsp;🚌
              <br/><br/>
              Details regarding bus schedules will be on your school's <a href="http://facebook.com/events/{{me.application.school.facebook_event_id}}" target="_blank" style="color: #ffafaf">{{me.application.school.name}} BoilerMake Facebook event </a>, so be sure to mark yourself as "Going" to stay up to date on travel and event information.
            </p>
            <p ng-show="me.application.school.transit_method=='car'">
              Sadly, we did not have enough applicants from your school to send a bus to {{me.application.school.name}}
              <br/><br/>
              That being said, we'd love to have you at BoilerMake if you're willing to drive to Purdue. Unfortunately, we cannot reimburse for plane tickets, bus tickets, or gas. We have a <a href="http://invite.boilermake.org/" style="color: #ffafaf">Slack Channel</a> for carpooling, if you would like to travel with other hackers.
            </p>
            <br/>
            <button class="btn btn-primary" ng-click="updateApplication(false)">Save my RSVP!</button>
            <p>Last saved and submitted <span class="bold" am-time-ago="lastSaved"></span>.</p>
          </div><!--end rsvp-area-->
          If you have any questions, shoot us an email: team@boilermake.org


        </div>
      </div>
          
      <div class="panel panel-default application-panel">
        <div class="panel-body">
          <form class="form-horizontal">
            <!-- Application start -->

            <!-- Name -->
            <div class="form-group">
              <label for="firstName" class="col-sm-4 control-label">Name</label>
              <div class="col-sm-8">
                <input id="firstName" type="text" ng-model="me.first_name" class="form-control half half-first" placeholder="{{placeholders['first_name']}}">
                <input id="lastName" type="text" ng-model="me.last_name" class="form-control half" placeholder="{{placeholders['last_name']}}">
              </div>
            </div>

            <!-- School -->
            <div class="form-group">
              <label for="school" class="col-sm-4 control-label">School</label>
              <div class="col-sm-8 schools">
               <input id="school" type="text" ng-model="me.application.school" typeahead="school as school.name for school in schoolSearch($viewValue)" class="form-control" placeholder="{{placeholders['school']}}">
             </div>
           </div>

           <!-- Major -->
           <div class="form-group">
            <label for="major" class="col-sm-4 control-label">Major</label>
            <div class="col-sm-8">
              <input id="major" type="text" ng-model="me.application.major" class="form-control" placeholder="{{placeholders['major']}}">
            </div>
          </div>

          <!-- Graduation Year -->
          <div class="form-group">
            <label for="gradYear" class="col-sm-4 control-label">Graduation Year</label>
            <div class="col-sm-8">
              <select id="gradYear" name="graduationSelect" ng-model="me.application.grad_year" class="form-control">
                <option value="" disabled selected>{{placeholders['graduation']}}</option>
                <option ng-repeat="year in appGraduations" value="{{year}}">{{year}}</option>
              </select>
            </div>
          </div>

          <!-- Transportation -->
          <div class="form-group">
            <label class="col-sm-4 control-label">Will you need travel reimbursement?</label>
            <div class="col-sm-8">
              <div class="btn-group">
                <label class="btn" ng-class="me.application.needsTravelReimbursement==1 ? 'btn-primary' : 'btn-default'">
                  <input type="radio" name="options" value="option1" ng-click="changeNeedsTravelReimbursement(1)"> Yes
                </label>
                <label class="btn" ng-class="me.application.needsTravelReimbursement==0 ? 'btn-primary' : 'btn-default'">
                  <input type="radio" name="options" value="option2" ng-click="changeNeedsTravelReimbursement(0)"> No
                </label>
              </div>
            </div>
          </div>

          <!-- Gender -->
          <div class="form-group">
            <label for="gender" class="col-sm-4 control-label">Gender</label>
            <div class="col-sm-8">
              <select id="gender" name="genderSelect" ng-model="me.application.gender" class="form-control" >
                <option value="" disabled selected>{{placeholders['gender']}}</option>
                <option ng-repeat="gender in appGenders" value="{{gender}}">{{gender}}</option>
              </select>
            </div>
          </div>

          <!-- Race -->
          <div class="form-group">
            <label for="race" class="col-sm-4 control-label">Race</label>
            <div class="col-sm-8">
              <select id="race" name="raceSelect" ng-model="me.application.race" class="form-control" >
                <option value="" disabled selected>{{placeholders['race']}}</option>
                <option ng-repeat="race in appRaces" value="{{race}}">{{race}}</option>
              </select>
            </div>
          </div>

          <!-- Github -->
          <div class="form-group">
            <label for="github" class="col-sm-4 control-label">GitHub Username</label>
            <div class="col-sm-8">
              <div class="input-group" ng-hide="me.application.has_no_github == '1'" >
              <!--<div class="input-group">-->
                <span class="input-group-addon">@</span>
                <input id="github" type="text" ng-model="me.application.github" class="form-control" placeholder="{{placeholders['github']}}">
              </div>
              <p ng-hide="me.application.has_no_github == '1'">
                <a ng-Click="hasNoGithub()" style="color: black">I don't have one</a>
              </p>
              <div ng-show="me.application.has_no_github == '1'" style="padding-top: 7px;">
                <p>You indicated you don't have a github. <a ng-Click="hasGithub()" style="color: black">I actually do have a Github!</a></p>
              </div>
            </div>
          </div>

          <!-- Resume -->
          <div class="form-group">
            <label class="col-sm-4 control-label">Resume</label>
            <div class="col-sm-8">
              <div class="btn btn-primary" name="resumeupload" ngf-select="upload($file)" ngf-pattern="'application/pdf'" ng-show="!me.application.resume_uploaded"><i class="fa fa-paperclip" aria-hidden="true"></i> Upload Resume</div>
              <div class="btn btn-primary" name="resumeupload" ngf-select="upload($file)" ngf-pattern="'application/pdf'" ng-show="me.application.resume_uploaded"><i class="fa fa-paperclip" aria-hidden="true"></i> {{me.application.resume_filename}}</div>
              <progressbar class="progress-indicate" ng-if="isUploading" value="dynamic"><span class="upload-progress">{{dynamic}}%</span></progressbar>
              <p><a class="uploaded-resume" ng-show="me.application.resume_uploaded" target="_blank" style="color: black" ng-href="{{resume_view_url}}">View uploaded resume</a></p>
            </div>
          </div>

          <!-- Hackathon experience -->
          <div class="form-group">
            <label class="col-sm-4 control-label">Will this be your first hackathon?</label>
            <div class="col-sm-8">
              <div class="btn-group">
                <label class="btn" ng-class="me.application.isFirstHackathon==1 ? 'btn-primary' : 'btn-default'">
                  <input type="radio" name="options" value="yes" ng-click="changeExperience(1)"> Yes
                </label>
                <label class="btn" ng-class="me.application.isFirstHackathon==0 ? 'btn-primary' : 'btn-default'">
                  <input type="radio" name="options" value="no" ng-click="changeExperience(0)"> No
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


  </div>

  <div class="col-md-3">
    <ul ng-show="isSaved && !validation.valid" class="validation-errors">
      <li class="err active" ng-hide="showErrors" ng-click="toggleErrors(true)">Show {{validation.reasons.length}} application errors <i class="fa fa-caret-down" aria-hidden="true"></i></li>
      <li class="err active" ng-show="showErrors" ng-click="toggleErrors(false)">Hide {{validation.reasons.length}} application errors <i class="fa fa-caret-up" aria-hidden="true"></i></li>
      <li class="err" ng-show="showErrors" ng-repeat="reason in validation.reasons track by $index">{{reason}}</li>
    </ul>
  </div>
</div>
<div ng-include="'app/components/footer/footer.html'"></div>
</div>

<div ng-include="'app/components/starrybg.html'"></div>
